<div
	class="h-full select-none flex items-center justify-center flex-col lg:flex-row lg:mt-20 xl:mt-30"
>
	<div class="flex items-center justify-around flex-col h-full">
		<div class="flex items-center flex-col">
			<p
				class="text-base sm:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl lg:mt-10 mb-4 lg:mb-5 color-2"
			>
				The Story of
			</p>
			<p
				class="text-2xl sm:text-3xl lg:text-4xl xl:text-6xl 2xl:text-7xl mb-10"
			>
				Unlock Your Mind
			</p>
			<p
				class="text-xs sm:text-base lg:text-base xl:text-xl 2xl:text-2xl pl-4 pr-4 mb-5 text-justify w-[80vw] lg:w-[60vw]"
			>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
				enim ad minim veniam, quis nostrud exercitation ullamco laboris
				nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
				in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				nulla pariatur. Excepteur sint occaecat cupidatat non proident,
				sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<p
				class="text-xs sm:text-base lg:text-base xl:text-xl 2xl:text-2xl pl-4 pr-4 mb-5 text-justify w-[80vw] lg:w-[60vw]"
			>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
				enim ad minim veniam, quis nostrud exercitation ullamco laboris
				nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
				in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				nulla pariatur. Excepteur sint occaecat cupidatat non proident,
				sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div
			class="flex flex-row border-b-2 border-t-2 count-border-color mt-10 xl:mt-20 w-[70vw] lg:w-[50vw]"
		>
			<div
				class="grow-1 flex items-center justify-center border-r-2 count-border-color"
			>
				<p class="text-xl sm:text-3xl lg:text-5xl xl:text-6xl color-2">
					1
				</p>
				<p class="text-sm sm:text-lg lg:text-2xl x:text-4xl ml-2">
					Book Published
				</p>
			</div>
			<div class="grow-1 flex items-center justify-center">
				<p class="text-xl sm:text-3xl lg:text-5xl xl:text-6xl color-2">
					{{ user().numStoriesPublished }}
				</p>
				<p class="text-sm sm:text-lg lg:text-2xl x:text-4xl ml-2">
					Stories
				</p>
			</div>
		</div>
		<div class="h-[15vh]"></div>
	</div>
</div>
