@let s = story();
<div
	class="p-2 h-full flex flex-row items-start rounded-md shadow-md shadow-gray-300"
>
	<div class="flex justify-center rounded">
		<div class="">
			<a [href]="s.url" target="_blank">
				<img
					class="rounded max-w-[35vw] lg:max-w-[20vw] xl:max-w-[80vw] 2xl:max-w-[100vw] 2xl:min-h-[30vh]"
					[src]="s.cover"
					[alt]="s.title"
				/>
			</a>
		</div>
	</div>
	<div
		class="pl-2 pr-2 md:pl-4 md:pr-4 flex flex-col justify-between items-center"
	>
		<div
			class="w-full flex flex-row justify-center items-center text-center"
		>
			<div>
				<a
					[href]="s.url"
					target="_blank"
					class="text-base sm:text-xl md:text-2xl lg:text-xl xl:text-2xl 2xl:text-3xl mt-1 hover:underline"
				>
					{{ s.title }}
				</a>
			</div>
		</div>
		<div class="flex items-center gap-2 justify-start mt-2">
			<i class="pi pi-eye text-black-500"></i>
			<span
				[pTooltip]="'story.votes' | translate"
				class="text-surface-900 text-xs sm:text-base md:text-lg lg:text-base xl:text-lg 2xl:text-xl"
				>{{ s.readCount }}</span
			>
			<i class="pi pi-star text-black"></i>
			<span
				[pTooltip]="'story.votes' | translate"
				class="text-surface-900 text-xs sm:text-base md:text-lg lg:text-base xl:text-lg 2xl:text-xl"
				>{{ s.voteCount }}</span
			>
			<i class="pi pi-list text-black"></i>
			<span
				[pTooltip]="'story.parts' | translate"
				class="text-surface-900 text-xs sm:text-base md:text-lg lg:text-base xl:text-lg 2xl:text-xl"
				>{{ s.partsCount }}</span
			>
		</div>
		<div class="flex flex-col mt-4">
			<span
				class="text-gray-600 font-semibold text-justify text-sm sm:text-base md:text-xl lg:text-base xl:text-xl 2xl:text-2xl"
				>{{ s.description }}</span
			>
		</div>
	</div>
</div>
