<header
	class="width-full h-20 flex justify-between items-center flex-row lg:p-4 select-none"
>
	<div
		class="grow-1 text-xs sm:text-base ml-1 mr-1 md:mr-20 flex items-center flex-col"
	>
		<p>Unlock Your</p>
		<p>Mind</p>
	</div>
	<div class="grow-1 flex gap-4 text-xs sm:text-base lg:gap-12 items-center">
		<a routerLink="" fragment="home">Home</a>
		<a routerLink="" fragment="about">About</a>
		<a routerLink="" fragment="books">Books</a>
		<a routerLink="" fragment="fanfiction">Fan fiction</a>
	</div>
	<div class="md:grow-20"></div>
</header>
