<header
	class="flex justify-between items-center pt-5 flex-row select-none text-xs sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
>
	<div class="grow-1 ml-1 mr-1 md:ml-5 md:mr-15 flex items-center flex-col">
		<p>Unlock Your</p>
		<p>Mind</p>
	</div>
	<div class="grow-1 flex gap-4 lg:gap-12 items-center">
		<a routerLink="" fragment="home">Home</a>
		<a routerLink="" fragment="about">About</a>
		<a routerLink="" fragment="books">Books</a>
		<a routerLink="" fragment="fanfiction">Stories</a>
	</div>
	<div class="md:grow-20"></div>
</header>
