<configuration>
	<conversionRule conversionWord="clr"
		class="org.springframework.boot.logging.logback.ColorConverter" />
	<conversionRule conversionWord="wex"
		class="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
	<conversionRule conversionWord="wEx"
		class="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/uym.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/uym.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern><![CDATA[%d{HH:mm:ss} %-5p %-40.40logger{39} - %replace(%m){'[\r\n]+', '$0--- '}%n%wEx]]></pattern>
		</encoder>
	</appender>

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
			by default -->
		<encoder>
			<pattern><![CDATA[%clr(%d{HH:mm:ss}){faint} %clr(%-5p) %clr(%-40.40logger{39}){cyan} %clr(-){faint} %replace(%m){'[\r\n]+', '$0--- '}%n%wEx]]></pattern>
		</encoder>
	</appender>
	<logger name="org.springframework.security" level="WARN" />
	<logger
		name="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping"
		level="WARN" />
	<logger name="org.springframework.boot.SpringApplication"
		level="OFF" />
	<logger name="org.springframework" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
