@let s = story();
<div
	class="p-2 lg:p-4 h-full grid grid-cols-2 items-center border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded-md"
>
	<div class="flex justify-center rounded">
		<div class="">
			<a [href]="s.url" target="_blank">
				<img
					class="rounded max-h-[30vh] md:max-h-[55vh] lg:max-h-[65vh] xl:max-h-[80vh]"
					[src]="s.cover"
					[alt]="s.title"
				/>
			</a>
		</div>
	</div>
	<div class="flex flex-col justify-between items-center">
		<div
			class="w-full flex flex-row justify-center items-center text-center"
		>
			<div>
				<a
					[href]="s.url"
					target="_blank"
					class="text-base mt-1 hover:underline"
				>
					{{ s.title }}
				</a>
			</div>
		</div>
		<div class="flex items-center gap-2 justify-start mt-2">
			<i class="pi pi-eye text-black-500 text-xs"></i>
			<span pTooltip="Gelezen" class="text-surface-900 text-xs"
				>{{ s.readCount }}</span
			>
			<i class="pi pi-star text-black text-xs"></i>
			<span pTooltip="Stemmen" class="text-surface-900 text-xs"
				>{{ s.voteCount }}</span
			>
			<i class="pi pi-list text-black text-xs"></i>
			<span pTooltip="Hoofstukken" class="text-surface-900 text-xs"
				>{{ s.numParts }}</span
			>
		</div>
		<div class="flex flex-col mt-4">
			<span class="text-sm text-gray-600 font-semibold text-justify"
				>{{ s.description }}</span
			>
		</div>
	</div>
</div>
