<footer
	class="width-full h-20 flex flex-row justify-around background-color-footer select-none"
>
	<div
		class="text-xs sm:text-base lg:text-lg xl:text-xl 2xl:text-2xl ml-2 flex flex-row justify-center items-center xm:flex"
	>
		<span
			>Copyright<span class="text-sm">&copy;</span> {{ currentYear }}
			Unlock Your Mind</span
		>
	</div>
	<div class="grow-10"></div>
	<div
		class="width-full flex mr-4 flex-row gap-4 lg:gap-15 items-center justify-center"
	>
		<a href="https://www.wattpad.com/user/Unlock-Your-Mind">
			<img
				class="w-4 sm:w-6 lg:w-7 xl:w-8 2xl:w-12"
				type="image/svg+xml"
				src="public/images/icons/wattpad.svg"
				alt="wattpad"
			/>
		</a>
		<a href="https://www.youtube.com/channel/UCjvWPSJGnwpVJedFVCdIZmA">
			<img
				class="w-4 sm:w-6 lg:w-7 xl:w-8 2xl:w-12"
				type="image/svg+xml"
				src="public/images/icons/youtube.svg"
				alt="youtube"
			/>
		</a>
		<a href="https://nl.pinterest.com/unlockyourmind/_saved/">
			<img
				class="w-4 sm:w-6 lg:w-7 xl:w-8 2xl:w-12"
				type="image/svg+xml"
				src="public/images/icons/pinterest.svg"
				alt="pinterest"
			/>
		</a>
		<a href="https://unlockyourmind-wp.tumblr.com/">
			<img
				class="w-4 sm:w-6 lg:w-7 xl:w-8 2xl:w-12"
				type="image/svg+xml"
				src="public/images/icons/tumblr.svg"
				alt="tumblr"
			/>
		</a>
		<a href="https://open.spotify.com/user/nelleke.v.leeuwen">
			<img
				class="w-4 sm:w-6 lg:w-7 xl:w-8 2xl:w-12"
				type="image/svg+xml"
				src="public/images/icons/spotify.svg"
				alt="spotify"
			/>
		</a>
	</div>
</footer>
