<div
	class="bg-green-50 p-4 border h-full border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded-md flex flex-col justify-between"
>
	<div class="flex justify-center rounded p-1">
		<div class="relative">
			<a [href]="story().url" target="_blank">
				<img
					class="rounded"
					[src]="story().cover"
					[alt]="story().title"
					style="max-width: 300px"
				/>
			</a>
		</div>
	</div>
	<div class="pt-6 flex-grow-1">
		<div
			class="flex flex-row justify-between items-start products-start gap-2"
		>
			<div>
				<a
					[href]="story().url"
					target="_blank"
					class="text-3xl font-medium mt-1 hover:underline"
					>{{ story().title }}</a
				>
			</div>
			<div
				class="bg-surface-100 p-1"
				style="border-radius: 30px; height: 100%"
			>
				<div
					class="bg-surface-0 flex products-center items-center gap-2 justify-center py-1 px-2"
					style="
						border-radius: 30px;
						box-shadow:
							0 1px 2px 0 rgba(0, 0, 0, 0.04),
							0 1px 2px 0 rgba(0, 0, 0, 0.06);
					"
				>
					<i class="pi pi-eye text-black-500 text-base"></i>
					<span
						pTooltip="Gelezen"
						class="text-surface-900 text-base"
						>{{ story().readCount }}</span
					>
					<i class="pi pi-star text-black text-base"></i>
					<span
						pTooltip="Stemmen"
						class="text-surface-900 text-base"
						>{{ story().voteCount }}</span
					>
					<i class="pi pi-list text-black text-base"></i>
					<span
						pTooltip="Hoofstukken"
						class="text-surface-900 text-base"
						>{{ story().numParts }}</span
					>
				</div>
			</div>
		</div>
		<div class="flex flex-col gap-6 mt-6">
			<span class="text-lg font-semibold">{{ story().description }}</span>
		</div>
	</div>
</div>
