<div class="height-minus-header select-none grid grid-cols-2">
	<div
		class="col-span-1 pl-70 pr-10 flex items-center justify-center flex-col"
	>
		<div class="grow-1"></div>
		<div class="grow-2">
			<p class="text-lg mb-10 color-2">A Divine Bestseller</p>
			<p class="text-4xl mb-5">Discover the infamous gods</p>
			<p class="text-sm">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
				enim ad minim veniam, quis nostrud exercitation ullamco laboris
				nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
				in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				nulla pariatur. Excepteur sint occaecat cupidatat non proident,
				sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="grow-1"></div>
	</div>
	<div class="col-span-1 flex items-center justify-center">
		<img class="cover-img" src="assets/images/cover.jpg" alt="book cover" />
	</div>
</div>
