/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
	font-family: "Roboto", serif;
	overflow-x: hidden;
}

:root {
	--uym-primary-color: #ede0d4;
	--uym-secondary-color: #e6ccb2;
	--uym-tertiary-color: #b79375;
	--uym-quaternary-color: #b79375;
}

::-webkit-scrollbar {
	width: 10px;
	background: var(--uym-primary-color);
}

::-webkit-scrollbar-thumb {
	background: var(--uym-quaternary-color);
	border-radius: 20px;
}

.background-color-landing {
	background-color: var(--uym-primary-color);
}

.background-color-footer {
	background-color: var(--uym-secondary-color);
}

.cinzel-decorative {
	font-family: "Cinzel Decorative", serif;
	font-weight: 600;
	font-style: normal;
}

.color-title {
	color: var(--uym-tertiary-color);
}

.count-border-color {
	border-color: var(--uym-quaternary-color);
}

.cover-img {
	max-width: 85vw;
	max-height: 85vh;
}

.height-minus-header {
	height: calc(100vh - (var(--spacing) * 20));
}

@media (width >= 68rem) {
	.\33xl-2-rows {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (width >= 118rem) {
	.\34xl-3-rows {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		max-width: 90vw;
	}
	.\34xl-min-w-25vw {
		min-width: 25vw;
	}
}
