<footer
	class="width-full flex justify-end items-center flex-row p-4 background-color-footer"
>
	<div class="grow-1 flex ml-8 gap-6 items-center">
		<a routerLink="" fragment="home">Home</a>
		<a routerLink="" fragment="about">About</a>
		<a routerLink="" fragment="books">Books</a>
		<a routerLink="" fragment="fanfiction">Fan fiction</a>
	</div>
	<div class="grow-1">
		Copyright &copy; {{ currentYear }} Unlock Your Mind
	</div>
	<div class="grow-1 flex mr-8 gap-6 justify-end items-center">
		<a>link 1</a>
		<a>link 2</a>
	</div>
</footer>
