<footer
	class="width-full h-20 flex flex-row justify-around lg:p-4 background-color-footer select-none"
>
	<div
		class="grow-1 ml-5 flex flex-col lg:flex-row justify-center lg:justify-start lg:items-center lg:gap-2"
	>
		<span>Copyright &copy; {{ currentYear }}</span>
		<span>Unlock Your Mind</span>
	</div>
	<div class="grow-10"></div>
	<div
		class="grow-1 width-full flex mr-4 flex-row gap-4 lg:gap-15 items-center justify-center"
	>
		<a href="https://www.wattpad.com/user/Unlock-Your-Mind">
			<img
				class="w-6"
				type="image/svg+xml"
				src="assets/images/icons/wattpad.svg"
				alt="wattpad"
			/>
		</a>
		<a href="https://www.youtube.com/channel/UCjvWPSJGnwpVJedFVCdIZmA">
			<img
				class="w-6"
				type="image/svg+xml"
				src="assets/images/icons/youtube.svg"
				alt="youtube"
			/>
		</a>
		<a href="https://nl.pinterest.com/unlockyourmind/_saved/">
			<img
				class="w-6"
				type="image/svg+xml"
				src="assets/images/icons/pinterest.svg"
				alt="pinterest"
			/>
		</a>
		<a href="https://unlockyourmind-wp.tumblr.com/">
			<img
				class="w-6"
				type="image/svg+xml"
				src="assets/images/icons/tumblr.svg"
				alt="tumblr"
			/>
		</a>
		<a href="https://open.spotify.com/user/nelleke.v.leeuwen">
			<img
				class="w-6"
				type="image/svg+xml"
				src="assets/images/icons/spotify.svg"
				alt="spotify"
			/>
		</a>
	</div>
</footer>
