name: Create UYM Release

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:

  validate:
    if: contains('["yarisvt"]', github.actor)
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.determine_version.outputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          architecture: x64
          cache: 'maven'
      - name: Build software
        run: mvn -B install --no-transfer-progress --file pom.xml
      - name: Determine version
        id: determine_version
        run: |
          current_version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "Current version: ${current_version}"
          echo "version=${current_version}" >> $GITHUB_OUTPUT
          echo "CURRENT_VERSION=${current_version}" >> $GITHUB_ENV
      - name: Check if snapshot
        run: |
          echo "Project version is: ${{ env.CURRENT_VERSION }}"
          if [[ "${{ env.CURRENT_VERSION }}" != *"-SNAPSHOT"* ]]; then
            echo "::error::Release version should contain -SNAPSHOT"
            exit 1
          else
            echo "Release version is correct (contains -SNAPSHOT)"
          fi

  release:
    needs: validate
    runs-on: ubuntu-24.04
    outputs:
      tagged: ${{ steps.set_version.outputs.tag_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          architecture: x64
          cache: 'maven'
      - name: Configure Git
        run: |
          git config user.name "Yaris van Thiel"
          git config user.email "yarisvt@users.noreply.github.com"
      - name: Commit release
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        run: |
          sudo apt-get install -qy git ssh
          mkdir -p ~/.ssh
          echo ${{ secrets.SSH_DEPLOYMENT_KEY }} | base64 -d > ~/.ssh/id_rsa
          ssh-keyscan -t rsa github.com  > ~/.ssh/known_hosts
          chmod -R og-rwx ~/.ssh
          mvn clean
          mvn build-helper:parse-version versions:set -DnewVersion='${parsedVersion.majorVersion}.${parsedVersion.minorVersion}.${parsedVersion.incrementalVersion}' versions:update-child-modules versions:commit
          RELEASE_VERSION=$(mvn -q org.apache.maven.plugins:maven-help-plugin:3.1.0:evaluate -DforceStdout -Dexpression=project.version | tr -d '\r\n')
          echo "RELEASE_VERSION=${RELEASE_VERSION}" >> $GITHUB_ENV
          git checkout -b "release-${RELEASE_VERSION}"
          git add .
          git commit -m "chore: Release ${RELEASE_VERSION}"
          git tag -f "${RELEASE_VERSION}"
          echo "tag_version=${RELEASE_VERSION}" >> $GITHUB_OUTPUT
          mvn build-helper:parse-version versions:set -DnewVersion='${parsedVersion.majorVersion}.${parsedVersion.minorVersion}.${parsedVersion.nextIncrementalVersion}-SNAPSHOT' versions:commit
          NEXT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          git add .
          git commit -m "chore:  prepare snapshot version ${NEXT_VERSION}"
          git branch -f "${BRANCH_NAME}" "origin/${BRANCH_NAME}"
          git checkout "${BRANCH_NAME}"
          git merge "release-${RELEASE_VERSION}"
          git branch -D "release-${RELEASE_VERSION}"
          git push
          git push origin "${RELEASE_VERSION}"
      - name: Create Pull Request
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh pr create \
            --title "Release ${{ env.RELEASE_VERSION }}" \
            --body "This PR was created using the GitHub CLI." \
            --base main \
            --head ${{ env.RELEASE_VERSION }}

  github-release:
    needs: release
    runs-on: ubuntu-24.04
    if: ${{ needs.release.outputs.tagged }}
    steps:
      - name: Create github release
        uses: softprops/action-gh-release@v1
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          tag_name: ${{ needs.release.outputs.tagged }}
          name: Release ${{ needs.release.outputs.tagged }}
          draft: true
          prerelease: false
          generate_release_notes: true

  deploy:
    needs: release
    runs-on: ubuntu-24.04
    if: ${{ needs.release.outputs.tagged }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          architecture: x64
          cache: 'maven'
      - name: Deploy to k3s cluster
        run: |
          git checkout ${{ needs.release.outputs.tagged }}
          echo "$CI_REGISTRY_PASSWORD" | docker login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
          mvn -DskipTests=true clean install
          mvn validate k8s:resource k8s:build
          mvn validate -DskipTests=true k8s:push
          sudo apt-get update -q
          sudo apt-get install -qy jq curl
          curl -LO "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x ./kubectl && mv ./kubectl /usr/local/bin/kubectl
          mkdir -p ~/.kube
          echo -n $KUBE_CONFIG | base64 -d > ~/.kube/config
          IFS=$'\n'; for file in $( find . -type f -name kubernetes.yml ); do sed -i "s/ENV_PLACEHOLDER/$ENVIRONMENT/g" "$file"; sed -i "s/DOMAIN_PLACEHOLDER/$QUALIFIER/g" "$file"; sed -i "s/PLACEHOLDER/$ENVIRONMENT/g" "$file"; done;IFS=$' \t\n'
          IFS=$'\n'; for dir in $( find . -type d -name kubernetes ); do for file in $( find "$dir" -type f -name "*.yml" ); do sed -i "s/ENV_PLACEHOLDER/$QUALIFIER/g" "$file"; sed -i "s/DOMAIN_PLACEHOLDER/$ENVIRONMENT/g" "$file"; sed -i "s/PLACEHOLDER/$ENVIRONMENT/g" "$file"; done; done; IFS=$' \t\n'
          kubectl create ns $NAMESPACE || true
          kubectl config set-context --current --namespace="$NAMESPACE"
          IFS=$'\n'; for file in $( find . -type f -name kubernetes.yml ); do kubectl apply --force -f "$file"; done; IFS=$' \t\n'
          IFS=$'\n'; for dir in $( find . -type d -name kubernetes ); do for file in $( find "$dir" -type f -name "*-deployment.yml" ); do kubectl wait --timeout=1800s --for=condition=Available -f "$file"; ATTEMPTS=60; until kubectl rollout status -f "$file" || [ $ATTEMPTS -le 0 ]; do ATTEMPTS=$[ $ATTEMPTS - 1 ]; sleep 10; done; done; done; IFS=$' \t\n'
        env:
          CI_REGISTRY: ${{ secrets.CI_REGISTRY }}
          CI_REGISTRY_USER: ${{ secrets.CI_REGISTRY_USER }}
          CI_REGISTRY_PASSWORD: ${{ secrets.CI_REGISTRY_PASSWORD }}
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
          NAMESPACE: uym-test # TODO remove test once ready
