name: Create UYM Release and deploy

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:

  validate:
    if: contains('["yarisvt"]', github.actor)
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.determine_version.outputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          architecture: x64
          cache: 'maven'
      - name: Build software
        run: mvn -B install --no-transfer-progress --file pom.xml
      - name: Determine version
        id: determine_version
        run: |
          current_version=$(mvn -B --no-transfer-progress  help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "Current version: ${current_version}"
          echo "version=${current_version}" >> $GITHUB_OUTPUT
          echo "CURRENT_VERSION=${current_version}" >> $GITHUB_ENV
      - name: Check if snapshot
        run: |
          echo "Project version is: ${{ env.CURRENT_VERSION }}"
          if [[ "${{ env.CURRENT_VERSION }}" != *"-SNAPSHOT"* ]]; then
            echo "::error::Release version should contain -SNAPSHOT"
            exit 1
          else
            echo "Release version is correct (contains -SNAPSHOT)"
          fi

  release:
    needs: validate
    runs-on: ubuntu-24.04
    outputs:
      tagged: ${{ steps.release.outputs.tag_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          architecture: x64
          cache: 'maven'
      - name: Configure Git
        run: |
          git config user.name "Github Actions"
          git config user.email "yarisvt@users.noreply.github.com"
      - name: release
        id: release
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        run: |
          mvn -B --no-transfer-progress clean
          mvn -B --no-transfer-progress build-helper:parse-version versions:set -DnewVersion='${parsedVersion.majorVersion}.${parsedVersion.minorVersion}.${parsedVersion.incrementalVersion}' versions:update-child-modules versions:commit
          RELEASE_VERSION=$(mvn -B --no-transfer-progress  -q org.apache.maven.plugins:maven-help-plugin:3.1.0:evaluate -DforceStdout -Dexpression=project.version | tr -d '\r\n')
          echo "RELEASE_VERSION=${RELEASE_VERSION}" >> $GITHUB_ENV
          git checkout -b "release-${RELEASE_VERSION}"
          git add .
          git commit -m "chore: Release ${RELEASE_VERSION}"
          git tag -f "${RELEASE_VERSION}"
          echo "tag_version=${RELEASE_VERSION}" >> $GITHUB_OUTPUT
          mvn -B --no-transfer-progress build-helper:parse-version versions:set -DnewVersion='${parsedVersion.majorVersion}.${parsedVersion.minorVersion}.${parsedVersion.nextIncrementalVersion}-SNAPSHOT' versions:commit
          NEXT_VERSION=$(mvn -B --no-transfer-progress help:evaluate -Dexpression=project.version -q -DforceStdout)
          git add .
          git commit -m "chore: prepare snapshot version ${NEXT_VERSION}"
          git branch -f "${BRANCH_NAME}" "origin/${BRANCH_NAME}"
          git checkout "${BRANCH_NAME}"
          git merge "release-${RELEASE_VERSION}"
          git branch -D "release-${RELEASE_VERSION}"
          git push
          git push origin "${RELEASE_VERSION}"

  github-release:
    needs: release
    runs-on: ubuntu-24.04
    if: ${{ needs.release.outputs.tagged }}
    steps:
      - name: Create github release
        uses: softprops/action-gh-release@v1
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          tag_name: ${{ needs.release.outputs.tagged }}
          name: Release ${{ needs.release.outputs.tagged }}
          draft: true
          prerelease: false
          generate_release_notes: true

  deploy:
    needs: release
    runs-on: ubuntu-24.04
    if: ${{ needs.release.outputs.tagged }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          architecture: x64
          cache: 'maven'
      - name: Deploy to k3s cluster
        run: |
          git fetch --tags
          git checkout ${{ needs.release.outputs.tagged }}
          echo "$CI_REGISTRY_PASSWORD" | docker login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
          mvn --no-transfer-progress -B -DskipTests=true clean install
          mvn --no-transfer-progress -B validate k8s:resource k8s:build
          mvn --no-transfer-progress -B validate -DskipTests=true k8s:push
          sudo apt-get update -q > /dev/null
          DEBIAN_FRONTEND=noninteractive sudo apt-get install -y --no-install-recommends tzdata wireguard iproute2 ssh iptables > /dev/null
          sudo mkdir -p ~/.ssh
          echo "$WG0_CONF" | base64 -d | sudo tee -a /etc/wireguard/wg0.conf > /dev/null
          sudo wg-quick up wg0
          echo "$SSH_PRIVATE_KEY" | base64 -d | sudo tee -a ~/.ssh/uym_github > /dev/null
          sudo chown -R $(whoami):$(whoami) ~/.ssh
          chmod 700 ~/.ssh/uym_github
          ls -l ~/.ssh
          ssh-keyscan -H "$SSH_HOST"  | sudo tee -a ~/.ssh/known_hosts > /dev/null
          cd target/classes/META-INF/jkube
          IFS=$'\n'; for file in $( find . -type f -name kubernetes.yml ); do scp -i ~/.ssh/uym_github "$file" "$SSH_USER"@"$SSH_HOST":"$file"; done; IFS=$' \t\n'
          IFS=$'\n'; for dir in $( find . -type d -name kubernetes ); do for file in $( find "$dir" -type f -name "*-deployment.yml" ); do scp -i ~/.ssh/uym_github -p "$file" "$SSH_USER"@"$SSH_HOST":"$(basename "$file")"; done; done; IFS=$' \t\n'
          ssh -i ~/.ssh/uym_github -o SendEnv=NAMESPACE "$SSH_USER"@"$SSH_HOST" kubectl create ns $NAMESPACE || true
          ssh -i ~/.ssh/uym_github -o SendEnv=NAMESPACE "$SSH_USER"@"$SSH_HOST" kubectl config set-context --current --namespace="$NAMESPACE"
          ssh -i ~/.ssh/uym_github "$SSH_USER"@"$SSH_HOST" kubectl apply --force -f kubernetes.yml
          ssh -i ~/.ssh/uym_github "$SSH_USER"@"$SSH_HOST" kubectl wait --timeout=1800s --for=condition=Available -f uym-deployment.yml; ATTEMPTS=60; until kubectl rollout status -f uym-deployment.yml || [ $ATTEMPTS -le 0 ]; do ATTEMPTS=$[ $ATTEMPTS - 1 ]; sleep 10; done
        env:
          CI_REGISTRY: ${{ secrets.CI_REGISTRY }}
          CI_REGISTRY_USER: ${{ secrets.CI_REGISTRY_USER }}
          CI_REGISTRY_PASSWORD: ${{ secrets.CI_REGISTRY_PASSWORD }}
          WG0_CONF: ${{ secrets.WG0_CONF }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_USER: ${{ secrets.SSH_USER }}
          NAMESPACE: uym-test # TODO remove test once ready
