name: Publish Wattpad4J release

on:
  push:
    tags:
      - '**'

permissions:
  packages: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          architecture: x64
          cache: 'maven'
      - name: Deploy to k3s cluster
        run: |
          apt-get update -q
          apt-get install -qy jq curl
          curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
          chmod +x ./kubectl && mv ./kubectl /usr/local/bin/kubectl
          mkdir -p $HOME/.kube
          echo -n $KUBE_CONFIG | base64 -d > $HOME/.kube/config
          IFS=$'\n'; for file in $( find . -type f -name kubernetes.yml ); do sed -i "s/ENV_PLACEHOLDER/$ENVIRONMENT/g" "$file"; sed -i "s/DOMAIN_PLACEHOLDER/$QUALIFIER/g" "$file"; sed -i "s/PLACEHOLDER/$ENVIRONMENT/g" "$file"; done;IFS=$' \t\n'
          IFS=$'\n'; for dir in $( find . -type d -name kubernetes ); do for file in $( find "$dir" -type f -name "*.yml" ); do sed -i "s/ENV_PLACEHOLDER/$QUALIFIER/g" "$file"; sed -i "s/DOMAIN_PLACEHOLDER/$ENVIRONMENT/g" "$file"; sed -i "s/PLACEHOLDER/$ENVIRONMENT/g" "$file"; done; done; IFS=$' \t\n'
          kubectl create ns $NAMESPACE || true
          kubectl config set-context --current --namespace="$NAMESPACE"
          mvn validate k8s:resource
          IFS=$'\n'; for file in $( find . -type f -name kubernetes.yml ); do kubectl apply --force -f "$file"; done; IFS=$' \t\n'
          IFS=$'\n'; for dir in $( find . -type d -name kubernetes ); do for file in $( find "$dir" -type f -name "*-deployment.yml" ); do kubectl wait --timeout=1800s --for=condition=Available -f "$file"; ATTEMPTS=60; until kubectl rollout status -f "$file" || [ $ATTEMPTS -le 0 ]; do ATTEMPTS=$[ $ATTEMPTS - 1 ]; sleep 10; done; done; done; IFS=$' \t\n'
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
          NAMESPACE: uym-test # TODO remove test once ready
