name: Build

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '25'
        architecture: x64
        cache: maven
    - name: Build with Maven
      run: mvn -B verify --file pom.xml
  package-version:
    runs-on: ubuntu-24.04
    needs: build
    if: ${{ always() && contains(join(needs.*.result, ','), 'success')}}
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '25'
        architecture: x64
        cache: maven
    - name: Package version with jKube
      run: |
        mvn -DskipTests=true clean install
        mvn validate k8s:resource k8s:build -Djkube.generator.registry=$CI_REGISTRY
        mvn validate -DskipTests=true k8s:push -Djkube.docker.push.registry=$CI_REGISTRY -Djkube.docker.username=$CI_REGISTRY_USER -Djkube.docker.password=$CI_REGISTRY_PASSWORD
      env:
        CI_REGISTRY: ${{ secrets.CI_REGISTRY }}
        CI_REGISTRY_USER: ${{ secrets.CI_REGISTRY_USER }}
        CI_REGISTRY_PASSWORD: ${{ secrets.CI_REGISTRY_PASSWORD }}

